* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.about-container {
    width: 800px;
    background-color: lightblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 300px;
}

.about-section h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 15px;
}

.about-section p {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-section strong {
    font-weight: bold;
    color: #007BFF;
}

.about-section p:last-child {
    margin-bottom: 0;
}

.form_container1 {
    background-color: aquamarine;
    width: 300px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-radius: 10px;
}





